<app-navbar></app-navbar>
<div class = "html">
    <div class="mainbody">
        <div class="intro">
        <div class="name">
            <p>Hi, my name is </p>
            <h1> Melanie Palomino </h1>
            <div class="subname">
                <h2> In the pursuit of using my skills in computer science to make a positive change in the world.</h2>
            </div>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="column">
                <div class="profile"></div>
            </div>
            <div class="column">
                <div class="subintro">
                    <div class="description">
                        <p> I'm a Software Engineer and Full-Stack Developer seeking to further my knowledge every day. </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="space" style="display: inline-block;height: 150px;width: auto;"></div>
        <div class="categories">
            <div class="row row-cols-2 row-cols-md-4">
                <div class="col mb-4">
                  <div class="card h-100" style="max-width: 19rem; background-color: #d4ccdb;" (click)="goToContact()">
                    <div class="img-wrapper">
                        <img src="..\..\assets\icons\contact.svg" class="card-img-top" alt="..." id="contact-icon">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title" style="margin-top: 25px;">Contact</h5>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100" style="max-width: 19rem; background-color: #88c580;" (click)="goToProjects()">
                    <div class="img-wrapper">
                        <img src="..\..\assets\icons\library_books.svg" class="card-img-top" alt="..." id="proj-icon">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title" style="margin-top: 25px;">Projects</h5>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100" style="max-width: 19rem; background-color: #a6c3d5;" (click)="goToExp()">
                    <div class="img-wrapper">
                        <img src="..\..\assets\icons\work_history.svg" class="card-img-top" alt="..." id="exp-icon">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Work <br> Experience</h5>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100" style="max-width: 19rem; background-color: #f6c1db;" (click)="goToAbout()">
                    <div class="img-wrapper">
                        <img src="..\..\assets\icons\bubble.svg" class="card-img-top" alt="..." id="about-icon">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title" style="margin-top: 25px;">About</h5>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

