.html, .mainbody {
    height: 100%;
    background-color: #FDF3DD;
}
.html {
    display: table;
    margin: auto;
    background-color: #FDF3DD;
    padding-top: 50px;
    padding-right: 180px;
    padding-left: 180px;
}
.mainbody{
    background-color: #FDF3DD;
    display: table-cell;
    vertical-align: middle;
}

.name p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5px;
}
.name h1{
    font-size: 65px;
    letter-spacing: 8px;
    color: #d4ccdb;
    font-weight: 700;
}

.name h2{
    font-size: 25px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #88c589;
    font-weight: 600;
    
}
.row{
    display: flex;
    padding-left: 30px;
}
.column{
    /* border: 1px solid black; */
   flex: 50%; 
   text-align: center;
   padding-left: 30px;
   width: 80%;
}

.description{
    text-align: center;
    margin-top: 160px;
    font-size: 25px;
    margin-right: 50px;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    max-width: fit-content;
}

.circle { 
    width: 450px;
    height: 450px;
    background: radial-gradient(#a6c3d5,#f6c1db); 
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 50%;
    top: 15px;
    -webkit-transform: skew(27deg);
 }


.profile{
    --image-size: 450px;
    width: var(--image-size);
    height: var(--image-size);
    background-image: url("..\..\assets\pictures\Profile_Picture.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 75% 25% / 50%;
    -webkit-transform: skew(-27deg);
}



.categories .card{
    min-width: fit-content;
}
.img-wrapper{
    display: table-cell;
    vertical-align: top;
    text-align: center;
    margin-top: 40px;
    /* margin-top: 30px;
    padding-left: 50px; */
}
#contact-icon{
    width: 150px;
    /*#a6c3d5 light blue*/
    filter: invert(88%) sepia(7%) saturate(1731%) hue-rotate(174deg) brightness(93%) contrast(79%);
    
}
#about-icon{
    width: 150px;
        /*#d4ccdb  green #88c589 */
    filter: invert(72%) sepia(35%) saturate(369%) hue-rotate(72deg) brightness(95%) contrast(87%); 
}   
#exp-icon{
    width: 150px;
    /*#f6c1db pink*/
    filter: invert(81%) sepia(19%) saturate(526%) hue-rotate(288deg) brightness(101%) contrast(93%);
    
}
#proj-icon{
    width: 150px;
     /*#FDF3DD white */
     filter: invert(93%) sepia(18%) saturate(414%) hue-rotate(322deg) brightness(104%) contrast(98%); 
}
.categories h5{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 0;
    text-align: center;
}

.space {
    display: inline-block;
    height: 80px;
    width: auto;
}
.card:hover{
    color: azure;
    cursor: pointer;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 15px;
}

.card:hover img{
    opacity: 0.8;
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
}