<app-navbar></app-navbar>
<div class = "html">
    <div class="mainbody">
        <div class="intro">
        <div class="name">
            <p>Hi, my name is </p>
            <h1> Melanie Palomino </h1>
            <div class="subname">
                <h2> In the pursuit of using my skills in computer science to make a positive change in the world.</h2>
            </div>
        </div>
        <div class="subintro">
            <div class="description">
                <p> I'm a Software Engineer and Full-Stack Developer seeking to further her knowledge every day. </p>
            </div>
            <div class="quote"></div>
        </div>
        </div>
        <div class="categories">
            <div class="row row-cols-2 row-cols-md-6">
                <div class="col mb-4">
                  <div class="card h-100" style="max-width: 19rem; background-color: #CAAACD;">
                    <img src="..\..\assets\icons\contact.svg" class="card-img-top" alt="..." id="contact-icon">
                    <div class="card-body">
                      <h5 class="card-title">Contact</h5>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100" style="max-width: 19rem; background-color: #CB962E;">
                    <img src="..\..\assets\icons\library_books.svg" class="card-img-top" alt="..." id="proj-icon">
                    <div class="card-body">
                      <h5 class="card-title">Projects</h5>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100" style="max-width: 19rem; background-color: #D6E8F7;">
                    <img src="..\..\assets\icons\work_history.svg" class="card-img-top" alt="..." id="exp-icon">
                    <div class="card-body">
                      <h5 class="card-title">Work <br> Experience</h5>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100" style="max-width: 19rem; background-color: #EEB5CC;">
                    <img src="..\..\assets\icons\bubble.svg" class="card-img-top" alt="..." id="about-icon">
                    <div class="card-body">
                      <h5 class="card-title">About</h5>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

