/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;400;600&display=swap');

:root{
  --pink: #f6c1db;
  --blue: #a6c3d5; 
  --green: #88c589;
  --cream: #FDF3DD;
  --purple: #d4ccdb
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


 
/*D:\Melanie\Websites\PersonalWeb\web\node_modules\mdb-angular-ui-kit\assets\scss\mdb.scss*/
/* @import 'mdb-angular-ui-kit/assets/scss/mdb.scss'; */