.body{
    background: linear-gradient(238deg, #f6c1db, #a6c3d5, #88c580, #d4ccdb);
    background-size: 1000% 1000%;
    -webkit-animation: GradientBackground 24s ease infinite;
    -moz-animation: GradientBackground 24s ease infinite;
    -o-animation: GradientBackground 24s ease infinite;
    animation: GradientBackground 24s ease infinite;
    background-attachment: fixed; 
    padding-top: 5%;
    padding-bottom: 10%;
}
@-webkit-keyframes GradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes GradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
h1{
    font-family: 'Cinzel Decorative', cursive;
    letter-spacing: 2px;
    font-size:  122px;
    color: azure;
    text-align: center;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size:  35px;
    color: azure;
    text-align: center;
}
.space {
    display: inline-block;
    height: 55px;
    width: auto;
}
.wrapper{
    position: fixed;
    left: 49%;
    transform: translate(-50%, -50%);
  }
  
.link_wrapper{
    position: relative;
}
  
a{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 40px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    background: #d4ccdb;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #d4ccdb;
    transition: all .35s;
}
  
.icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}
  
.icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #d4ccdb;
    transition: all .35s;
}
  
a:hover{
    width: 300px;
    border: 5px solid #d4ccdb;
    background: transparent;
    color: rgba(0, 0, 0, 0.62);
    font-size: 20px;
    cursor: pointer;
}
  
a:hover + .icon{
    border: 5px solid #d4ccdb;
    right: -15%;
}